
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243)


  }

  #top-menu{
    width:100%;
    height:30px;
    background-color: rgb(216, 79, 79);
    color: white;
    padding-left: 10px;
    font-size: 19px;

  }
  button:focus {outline:0;}
  .TextEditorTitle:focus {
    outline-color: black;
  }

button {
  background-color: rgb(243, 243, 243)

}
  
  
  #side-menu {
    width: 200px;
    float:left;
  }
  #sub-menu {
    width: 300x;
    min-height: 100%;
    float:left;
    margin: 0px;
    padding: 0px;
    height: vh;
  }
  
  
  #bottom-menu p{
    padding: 0px;
    float: left
  }
  
  hr {
    padding: 0;
    margin: 0 10px 0px;
  }
  
  .EditorViewOptions{
    float: left;
  }

  .left{
    float: right;
    text-align: right;
    padding-right: 5px;
    font-size: 25px !important;
  }

  .submenu-item{
    font-size: 20px !important;
    float: right;
    text-align: right;
    padding-right: 5px;
  }

  .submenu-item:hover {
    background-color: rgba(68, 181, 247, 0.726);
    color:white
  }
    

  .left:hover{
      color: red
  }

  .sub-menu-item{
    height: 90px;
    padding: 5px;
    margin: 0px;
    width: 300px;
  }

  .sub-menu-item p,h6{
    margin:0
  }

  .item-date-created {
    font-size: 12px;
  }

  .item-preview {
    font-size: 14px;
  }
  .sub-menu-item:hover{
    background-color: rgb(247, 68, 68);
    color:white  }


  .StatusBar {
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    background-color: white;
    padding-right: 5px;
  }
  
  
  /*  
  .EditorViewOptions {
  
  } */
  
  .ChangeDiv {
    /* width:calc(100% - 500px); */
    margin-left: 500px;
    /* padding-left: 10px; */
    padding: 0px 5px;
  }
  
  #menu ul{
      list-style:none;
      padding-left:10px;
  }​
  
  .Content {
    float: left;
    padding: 0px;
    height: 500px;
    margin: 0px;
    width: 100%

  }
  
  
  .accordion {
      cursor: pointer;
      padding: 10px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
      
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgb(247, 68, 68);
  color:white
  } 

  .non-open-accordion {
      cursor: pointer;
      padding: 10px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
  }


  
  .TextEditorTitle {
    margin: 3px 0px;
    border: 0px;
    width: 400px;
    padding-left: 5px;
    background-color: rgb(243, 243, 243);
    
  
  }

  #editor {
    height: 100%;
    width: 100%;
    padding-top: 32px;
}

#notesEditor{
  min-height: 100%;
  min-width: 100%;
  padding-top: 32px;
}

textarea.form-control {
  height: 100vh;
}
  
.ContainerForEditor {
    height: 100vh;
}
  
  
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  #main-menu  p:hover {
    background-color: rgb(247, 68, 68);
    color:white    /* border-left: green 3px solid; */
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
      display: none;
      margin-bottom: 0px;
  }
  
  .CodeMirror {
    padding-top: 2px;
  }
  
  .panel p{
    padding: 5px 23px;
    vertical-align: middle;
    margin: 0px;
  
  }
  
  .open{
    transform: rotate(90deg);
    transition: transform .1s linear;
  }
  

  .hidden {
    display: none
  }


  .CurrentNotebook{
    float: left;
    padding: 10px;
    width: 300px;
  }

.notes{
  float: none;
  width: 200px;
  color: black;
  margin-top: 10px;
}

.notes p{
  margin: 0px;

}

.CurrentNotebookName {
  color: dodgerblue;
  padding:5px;

}

th{
  font-weight: normal;
}


.activeNotebook {
  background-color: rgb(247, 68, 68);
  color:white
  /* color: black */
}

.activeNote {
  background-color: rgb(247, 68, 68);
  color:white

  /* color: black */
}

.active {
 color: black;
}

.ql-toolbar.ql-snow {
  height: 30px;
  border: none;
  padding-bottom: 0px;
}

#notesEditor{
  padding-top: 5px
}


